.main_con{color:#fff;padding:3vh 5.208vw;}
.main_con{
  overflow-y: auto;
  height: 93vh;
}
.main_con::-webkit-scrollbar{
  width: .68vw;
  display: none;
  background-color:RGBA(255,255,255,0.1);
}
.main_con::-webkit-scrollbar{
  display:block;
}

.main_con::-webkit-scrollbar-thumb{
  background-color:RGBA(255,255,255,0.2);
  border-radius: .2vw;
}

.main_part{border-bottom:1px solid rgba(255,255,255,0.2);}
.main_part p{
/*    font-size: 14px*/
/*    font-size: 1.562vw;
    letter-spacing:4px;
    line-height:2.083vw;
    font-weight: normal;*/
    font-size: 1.2vw;
    margin-bottom: 1.822vw;
}
  .main_part p a {
    font-size: 1.2vw;
    /*    font-size: 1.562vw;*/
  }
.main_flexPart{display: flex;justify-content: space-between;align-items: center;padding:3.2vh 0}
.main_flexPart ul{margin-bottom:0 ;}
  .main_flexPart ul li {
    font-size: 1.2vw;
    /*    font-size: 1.562vw;*/
  }
  .main_flexPart ul li span {
      font-size: 1.2vw;
      /*    font-size: 1.562vw;*/
    }
.main_flexPart li{font-size: 14px;line-height: 1.8}
.main_flexPart Button{
  border:none;
  background-color: #41a3ff;
  width: 14vw;
  text-align:center;
  height:4.1667vw;
  color:#fff;
  border-radius: 2.0833vw;
}
.main_flexPart Button span{
    height: 100%;
    /* display: block; */
    text-align:center;
    line-height:4.1667vw;
    height:4.1667vw;
}

.actInfo{margin-top:1.6vh}
.actInfo > *{display: inline-block}
.actInfo span{ vertical-align: top;}
.actInfo a{color:#92cbff;}
.actInfo a:hover{text-decoration: underline;}

h1 b{
  position: absolute;
  font-weight: normal;
  top:1vw;
  left: 105%;
  white-space: nowrap;
  font-size: 1.4vw;
  line-height: 1;
}


.loadingData {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 101;
  border-radius: 10px;
  /*background: url('./resource/images/pageWrapper_Bg.jpg') center center no-repeat;*/
  background-size: 100% 100%;
}
.loading{position: absolute;left: 50%;top:50%;transform: translate(-50%,-50%);text-align: center}
.loadingData img{width:14vw;height:14vw;}
.loadingData p{color: #fff;text-align: center}

.scanContent{
  position: absolute;
  top:50%;
  left:0;
  right:0;
  transform: translate(0,-50%)
}

.qrcodeBox{
  width:238px;
  height: 304px;
  text-align: center;
  position: relative;
  margin:0 auto;
  background: url('../resource/images/qrcode_bg.png') center center no-repeat;
  background-size: 100% 100%;
}

.qrcode{
  position: absolute;
  bottom:27px;
  left:50%;
  margin-left:-88px
}

.scanContent Button{
  border: none;
  background-color: #41a3ff;
  width: 238px;
  text-align: center;
  height: 4.1667vw;
  color: #fff;
  border-radius: 2.0833vw;
  margin-top:2vh;
}