

/*弹出警告样式修改*/
/* body>div>.ant-message>span>div>div>div>i{
  background-color: RGBA(0,0,0,0);
} */
/* body>div>.ant-message>span>div>div>div>i:before{
  color: RGBA(0,0,0,0);
} */

.card_new_titel{
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.15vw;
}
.card_new_img{
  height: 16vh;
}
.card_new_img img{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
