.sideBar{
  width:15vw;
  height:100vh;
  background-color:rgba(255,255,255,0.1);
  text-align: center;
  position: relative;
  margin-right: 6vw;
  padding:3vh 1vw;
}
.sideBar:after{
  content: '';
  display: block;
  position: absolute;
  left:100%;
  top:0;
  bottom:0;
  width:4vw;
  background: url('../../resource/images/subMenu_bg.png') center center no-repeat;
  background-size:100% 100%;
}
.sideBar .backCircle{
  width:40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  background: rgba(255,255,255,0.2);
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  cursor: pointer
}
.sideBar .ant-menu{background: transparent;border:none;margin-top:2vh}
.sideBar .ant-menu-item{font-size: 18px !important;color: #5cc1f5}
.sideBar .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected
,.sideBar .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-active
{
  background:url('../../resource/images/subMenu_cur.png') center center no-repeat;
  background-size: 80% 150%;
  color: #fff
}


@media screen and (max-width:1000px){
  .sideBar{
    width:18vw
  }
}
